# Ignore environment files
.env
*.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore local database (if using SQLite)
db.sqlite3

# Ignore virtual environment
venv/

# Ignore IDE/editor config files
.vscode/
.idea/