[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
validate-email = "*"
python-dotenv = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.13"
