<h2>Home Expense List</h2>

<ul class="list-group">
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
    <li class="list-group-item">Bought IPADS</li>
</ul>